---
import { themeOptions } from "./themePicker";
---

<fieldset class="relative flex max-w-96 items-center gap-2 p-2">
    <legend class="contents">
        <span class="text-sm">Theme:</span>
    </legend>
    <div class="flex gap-1">
        {
            themeOptions.map((o) => (
                <>
                    <input class="sr-only" name="theme" type="radio" id={o.value} value={o.value} />
                    <label
                        class="flex h-6 cursor-pointer items-center justify-center rounded-18px px-3 text-xs font-medium text-secondary-text transition-all hover:bg-hover-overlay"
                        for={o.value}>
                        {o.label}
                    </label>
                </>
            ))
        }
    </div>
</fieldset>

<script>
    import { handleThemeChange, initTheme } from "./themePicker";
    initTheme();
    handleThemeChange();
</script>

<style>
    input:checked + label {
        background-color: var(--primary-deemphasized-button-background);
        color: var(--primary-deemphasized-button-text);
        font-weight: bold;
    }

    input:focus-visible + label {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }
</style>
