---
import BlogLayout from "@/layouts/BlogLayout.astro";
import Layout from "@/layouts/Layout.astro";
import { blogParams } from "./[blog]/index.astro";
---

<Layout>
    <BlogLayout />

    <ul>
        {
            blogParams.map((blog) => (
                <li class="text-blue-link">
                    <a href={`/blog/${blog.params.blog}`}>{blog.params.blog}</a>
                </li>
            ))
        }
    </ul>
</Layout>
