---
import ThemePicker from "./ThemePicker.astro";
---

<header>
    <h1>My Blog</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </nav>
    <ThemePicker />
</header>
