---
const options = [
    { value: "light", label: "Light" },
    { value: "dark", label: "Dark" },
    { value: "system", label: "System" },
];
---

<div class="relative flex max-w-96 items-center gap-1 p-2">
    <p class="text-sm">Theme:</p>
    {
        options.map((o) => (
            <>
                <input class="max-w-0" name="theme" type="radio" id={o.value} />
                <label
                    class="flex h-6 cursor-pointer items-center justify-center rounded-18px px-3 text-xs font-medium text-secondary-text transition-colors hover:bg-hover-overlay"
                    for={o.value}>
                    {o.label}
                </label>
            </>
        ))
    }
</div>

<style>
    input:checked + label {
        background-color: var(--primary-deemphasized-button-background);
        color: var(--primary-deemphasized-button-text);
    }
</style>
