---
import "@/styles/global.css";
import Header from "../components/Header.astro";
import Identity from "../components/Identity.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="icon" href="/favicon.ico" sizes="48x48" />
        <link rel="icon" href="/favicon-96x96.png" sizes="96x96" type="image/png" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Habibium" />
        <link rel="manifest" href="/site.webmanifest" />
        <title>Habibium</title>
    </head>
    <body class="bg-bg text-text">
        <Identity />
        <Header />
        <slot />
    </body>
</html>
