---
import Footer from "@/components/common/footer/Footer.astro";
import Header from "@/components/common/header/Header.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="icon" href="/favicon.ico" sizes="48x48" />
        <link rel="icon" href="/favicon-96x96.png" sizes="96x96" type="image/png" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Habibium" />
        <link rel="manifest" href="/site.webmanifest" />
        <title>Habibium</title>
        {/* Set the theme attribute asap to avoid glitch */}
        <script is:inline>let e=localStorage.getItem("theme");typeof e!="string"&&(e="system");document.documentElement.setAttribute("data-theme",e);</script>
    </head>
    <body class="bg-web-wash text-base text-primary-text">
        <Header />
        <main class="container mx-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>
